
.list-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list-content 
.list-item {
    flex: 1;
    max-width: 100%;
    min-width: 300px;    
    padding: 20px;
    margin: 10px;
}

.more-than-one-result-true [itemprop="empty-indicator"] {
    display: none!important;
}

.more-than-one-result-false [itemprop="empty-indicator"] {
    display: flex!important;
}

.more-than-one-result-true [itemprop="pagination-content"] {
    display: flex!important;
}

.more-than-one-result-false [itemprop="pagination-content"] {
    display: none!important;
}
.pagination-btn.selected-page {
    background-color: wheat;
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pag-select-c select {
    width: 40px;
    margin-left: 10px;
    display: inline;
}
.pag-select-c label {
    padding: 0 2px 0px 10px;
    color: #fff;
}

.list-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 126px);
}