.generic-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 0 10px;

    overflow: hidden;
    width: 0;
    height: 0;
}

.generic-modal p {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.generic-modal .modal-bottom {
    padding: 10px;
}

.generic-modal .content-wrapper {
    width: 100vw;
    height: 100vh;
}

.generic-modal.show-modal {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.generic-modal [itemprop="map-content"] {
    width: 0;
    height: 0;
    overflow: hidden;
}

.generic-modal [itemprop="map-content"] .latitude-long-indicator {
    display: none;
}


.generic-modal [itemprop="map-content"].show-modal {
    width: 100%;
    height: 100%;
}

.generic-modal [itemprop="map-content"].show-modal .latitude-long-indicator {
    display: flex;
}

.generic-modal .filter-group-line {
    min-width: 121px;
    padding-right: 10px;
}

.generic-modal [itemprop="general-content"] {
    flex-wrap: wrap;
    display: flex;
}
 
.generic-modal.show-modal .content-wrapper {
    width: 100%;
    max-width: 1400px;
    background-color: white;
    padding: 20px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

}


.generic-modal .content-wrapper [itemprop="modal-content"] {
    flex: 1;
    padding-top: 10px;
    position: relative;
}

.generic-modal .generic-map {
    width: 100%;
    height: 1000px;
    max-height: calc(100vh - 200px);
}
.generic-modal .latitude-long-indicator {
    padding: 10px;
    right: 0;
    bottom: 0;
    font-size: 16px;
    display: flex;
    position: absolute;
}

.generic-modal .generic-map .ol-overlaycontainer-stopevent {
    position: absolute;
    z-index: 0;
    height: auto!important;
    pointer-events: none;
    max-width: 147px!important;
    flex-wrap: wrap!important;
    display: flex!important;
    padding: 10px!important;
}
.generic-modal .generic-map .ol-overlaycontainer-stopevent [title="Attributions"] {
    display: none!important;
}

.generic-modal .generic-map button {
    border: 1px solid black;
}

.generic-modal .generic-map .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {

}
