/* FONTS */
@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./../fonts/Bahnschrift.woff2") format("woff2"),
    url("./../fonts/Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* UTILS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  --primary-blue: #2b2e4a;
  --primary-light-blue: #545a8f;

  --primary-dark-red: #53354a;
  --primary-red: #903749;

  background-color: white;

  font-family: Bahnschrift;

  overflow-x: hidden;
}

body * {
  font-family: Bahnschrift;
}

main,
head {
  width: 100vw;
}

.flex-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.box-shadow-re-use {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.inset-shadow-re-use {
  -webkit-box-shadow: inset 0px 0px 38px -32px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 38px -32px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 38px -32px rgba(0, 0, 0, 0.25);
}

.text-box-shadow-re-use {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.26);
}

.text-box-shadow-light-re-use {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.page-content {
  padding: 0 20px;
  width: 100%;
}

.image-presentation {
  width: 100vw;
  height: 34vh;
}

.image-presentation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.align-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.overwrite-achor,
.overwrite-achor * {
  text-decoration: none!important;
}
.overwrite-achor:link,
.overwrite-achor:link * {
  text-decoration: none!important;
}

.overwrite-achor:visited,
.overwrite-achor:visited * {
  text-decoration: none!important;
}

.overwrite-achor:hover,
.overwrite-achor:hover * {
  text-decoration: none!important;
}

.overwrite-achor:active,
.overwrite-achor:active * {
  text-decoration: none!important;
}

.page-wrapper {
  max-width: 1400px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-c svg:hover {
  fill: var(--primary-red);
}

button {
  border: 1px solid transparent;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 0.42rem;
  text-align: center;
  cursor: pointer;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.btn-primary {
  color: #ffffff;
  background-color: var(--primary-light-blue);
  border-color: var(--primary-light-blue);
}

.btn-primary:hover {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

svg {
  width: 15px;
  height: 15px;
}

.btn-secondary {
  color: #ffffff;
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.8);
}

.btn-secondary:hover {
  background-color: rgba(0,0,0,1);
  border-color: rgba(0,0,0,1);
}
button.-delete {
  padding-right: 30px;
  cursor: default;
}
button.-delete .btn-child-x {
  cursor: pointer;
  width: 30px;
  line-height: 20px;
  padding: 5px;
  text-align: center;
}

select {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  color: black;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}