#map-per-state .ol-overlaycontainer-stopevent {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 20px;
}

[title="Attributions"],
[title="Reset rotation"] {
  display: none;
}

.ol-overlaycontainer-stopevent li {
  list-style: none;
}

.ol-overlaycontainer-stopevent ul {
  padding: 0;
}

.map-bottom {
  width: 100vw;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
}

.controls-section {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 20px;

  background-color: white;
  font-family: Bahnschrift;
}

select {
  padding-left: 10px;
}

#map-page-pin .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  padding-left: 20px;
}
#map-page-pin .ol-zoom.ol-unselectable.ol-control {
  display: none;

}

#popup {
  background: rgba(43, 46, 74, 0.8);
  border: 1px solid var(--primary-dark-red);
  padding: 10px;
  color: white;
}

#popup-content a {
  color: white;
}

.link-to-pin-container {
  padding-right: 20px;
}
