body{
    background-color: #903749;
}
.top-search {
    width: calc(100vw - 30px);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.top-search #sort-select {
    width: 100px;
}

.search-bar-container {
    width: auto;
    flex: 1;
    min-width: 210px;
}

#export-csv-wrapper {
    margin: 0 10px;
}

.top-search > * {
    margin-bottom: 10px;
    height: 40px;
}

.sort-select select {
    margin: 0 10px;
    height: 40px;
}
.sort-select label {
    color: white;
}



#modal .modal-content {
    flex: 1;
}

.result-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 [itemprop="empty-indicator"] {
    padding: 30px;
    color: wheat;
}

.pagination-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.pagination-inner button {

    margin: 5px;
}

.pagination-inner .pag-select-c {
    margin: 0 20px;
}