body{
    background-color: #903749;
}
.top-search {
    width: calc(100vw - 30px);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.search-bar-container {
    width: auto;
    flex: 1;
}

#export-btn {
    margin: 0 10px;
}

.sort-select select {
    margin: 0 10px;
    height: 40px;
}



#modal .modal-content {
    flex: 1;
}

.result-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 [empty-indicator] {
    padding: 30px;
    color: wheat;
}